<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConnectionSocketPort" value="20000"/>
    <add key="ConnectionPoolSize" value="100"/>
    <add key="ConnectionTimeout" value="30"/>
    <add key="ReadBufferSize" value="2000"/>
    <add key="AliveCheckMode" value="true"/>
    <add key="FileSocketPort" value="20001"/>
    <add key="FileInstantMode" value="true"/>
  </appSettings>
</configuration>